{% extends 'base.html.twig' %}

{% block title %}Create new invoice{% endblock %}
{% block body_title %}Create new invoice - <a href="/invoice" >Index</a>{% endblock %}

{% block body %}
	{{ form(form) }}
{% endblock %}