{% extends 'base.html.twig' %}

{% block title %}Invoice app{% endblock %}
{% block body_title %}Welcome{% endblock %}

{% block body %}
	<h4 class="is-size-4"><a href="/client" class="btn">Client index</a></h4>
	<h4 class="is-size-4"><a href="/invoice" class="btn">Invoice index</a></h4>
{% endblock %}